@import "./variables.scss";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    background: #00b09b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    background-size: 100% 100%;
    height: 100%;
    // width: 100%;
    display: flex;
    overflow: hidden;
    margin: 0;
    font-family: 'Lato';
    justify-content: center;
    &.login {
        align-items: center;
        justify-content: center;
    }
}

.container-small {
    // max-width: calc(100% - 30px);
    position: relative;
    max-width: 375px;
    min-height: 668px;
    background-color: rgba(255, 255, 255, 1);
    // padding: 20px;
    border-radius: 10px;
    // margin: 15px auto;
    // min-height: calc(100vh - 30px);
    text-align: center;
    a {
        font-size: 18px;
        // margin-top: 30px;
    }
}