.list {
  background: #fff;
  padding: 0 !important;
  max-width: 375px;
  margin: 0 auto;

  .RED {
    background: #92140c;
  }
  .GREEN {
    background: #1b9d46;
  }
  .ORANGE {
    background: #d66e00;
  }
}
