.list {
    background: #fff;
    padding: 0 !important;
    max-width: 375px;
    margin: 0 auto;
    .listItem {
        .red {
            background: RED;
        }
        .green {
            background: GREEN;
        }
        .orange {
            background: ORANGE;
        }
    }
}