.MuiSvgIcon-root {
  // padding: 30px 0;
}
form {
  padding: 0 30px;
  .MuiButtonBase-root {
    margin: 20px 0;
  }
}

.loginButton {
  background-color: #06070e !important;
  color: #fff !important;
}

.login-page {
  display: flex;
  align-items: center;
  img {
    margin: 30px 0;
  }
  a {
    width: 100%;
  }
}