.MuiSvgIcon-root {
  // padding: 30px 0;
}
form {
  padding: 0 30px;
  .MuiButtonBase-root {
    margin: 20px 0;
  }
}

.loginButton {
  background-color: #06070e !important;
  color: #fff !important;
}
